audio {
  width: 100%;
}

input {
  color: black;
}

.float-end {
  float: right;
}

.label-title {
  font-weight: bold;
}

.panel {
  background-color: #1a1919;
  border: none;
  margin: 5px;
}

.panel-heading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.13) !important;
  background-color: #0000 !important;
  color: #ddd !important;
  border-color: #373636;
}

.project-col {
  width: 70%;
}

.comment-col {
  width: 30%;
}

.project-col-no-comments, .project-audio {
  width: 100%;
}

.project-comment {
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #141313;
  min-width: 100px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 8px;
  z-index: 1;
  width: 200px;
  transform: translateY(25%);
}

.dropdown:hover .dropdown-content {
  display: block;
  right: 0;
}

.player-menu {
  position: absolute;
  right: 12px;
  margin-top: 6px;
  padding-bottom: 100px;
}

.fa {
  float: right;
  top: 6px;
  position: relative;
}

.Modal {
  position: absolute;
  inset: 50% auto auto 50%;
  border: 1px solid rgb(53, 53, 53);
  box-shadow: 0px 0px 10px #606060;
  background: rgb(30, 30, 30) none repeat scroll 0% 0%;
  overflow: auto;
  border-radius: 4px;
  outline: currentcolor none medium;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  min-width: 20%;
  border-radius: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .card-footer {
    background-color: #f1f3f4;
  }
}

@-moz-document url-prefix() {
  .card-footer {
    background-color: #1a1919;
  }
} 

@media only screen and (max-width: 770px) {
  .card, .panel {
    margin-left: auto;
    margin-right: auto;
  }

  .card-body {
    padding: 0.2rem;
  }

  .project-comment {
    margin-bottom: 10px;
  }
}